body {
	background-color: #FFD6DC;
}

#graph-display {
	background-color: #f5f5f5;
	border-radius: 10px;
}

.well {
	border-radius: 10px;
	
}

form {
	font-family: Georgia;
}

.checkbox {
	display: none;
}

